# 데이터 시각화 1번 문제

In [ ]:
import numpy as np 
import pandas as pd 
import warnings
from IPython.display import HTML
from pandas_datareader import data as pdr
import json 
import folium 
 
import json 
import requests

In [3]:
#!pip install pandas_datareader

In [4]:
covid19=pd.read_html('https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000',encoding='utf-8')[1]

In [5]:
covid19

    구분  1차접종            2차접종           3차(부스터)접종
    구분 당일 실적     당일 누계 당일 실적     당일 누계     당일 실적    당일 누계
0   합계  1690  42678737  1963  41341888      3650  3956401
1   서울   346   7945695   400   7723156       961   731310
2   부산    85   2727591    92   2639817       157   234329
3   대구    35   1898227    36   1835971        52   146256
4   인천   142   2434931   211   2356312       227   203496
5   광주    16   1191925    22   1148110        53   118291
6   대전    40   1175320    28   1136378        39   102857
7   울산    16    909707    20    882496        27    64513
8   세종    20    272853     6    262759        19    24207
9   경기   734  11173053   871  10835028      1660   974644
10  강원    22   1280951    31   1240851        29   130066
11  충북    28   1353724    32   1311624        72   137055
12  충남    33   1792133    62   1731542        91   187208
13  전북    37   1516390    34   1465954        65   175752
14  전남    13   1577132    29   1525475        41   217218
15  경북    24   2162570    26   2091760        27   212036
16  경남    66   2716019    43   2623264        84   249670
17  제주    33    550516    20    531391        46    47493

In [6]:
covid19_1=covid19[['2차접종']].iloc[1:,1:].reset_index()

In [7]:
covid19_1

   index      2차접종
             당일 누계
0      1   7723156
1      2   2639817
2      3   1835971
3      4   2356312
4      5   1148110
5      6   1136378
6      7    882496
7      8    262759
8      9  10835028
9     10   1240851
10    11   1311624
11    12   1731542
12    13   1465954
13    14   1525475
14    15   2091760
15    16   2623264
16    17    531391

In [8]:
global_distriction_jsonurl='https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2018/json/skorea-provinces-2018-geo.json'

In [9]:
global_dict = json.loads(requests.get(global_distriction_jsonurl).text)

In [10]:
[global_dict['features'][i]['properties']['name'] for i in range(17)]

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [11]:
second=pd.read_csv('https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-11-22-prov.csv')

In [12]:
second

   행정구역(시군구)별  총인구수 (명)
0       서울특별시   9532428
1       부산광역시   3356311
2       대구광역시   2390721
3       인천광역시   2945009
4       광주광역시   1442454
5       대전광역시   1454228
6       울산광역시   1122566
7     세종특별자치시    368276
8         경기도  13549577
9         강원도   1537717
10       충청북도   1596948
11       충청남도   2118977
12       전라북도   1789770
13       전라남도   1834653
14       경상북도   2627925
15       경상남도   3318161
16    제주특별자치도    676569

In [13]:
covid19_total=pd.concat([second,covid19_1],axis=1)

In [14]:
covid19_total

   행정구역(시군구)별  총인구수 (명)  (index, )  (2차접종, 당일 누계)
0       서울특별시   9532428          1        7723156
1       부산광역시   3356311          2        2639817
2       대구광역시   2390721          3        1835971
3       인천광역시   2945009          4        2356312
4       광주광역시   1442454          5        1148110
5       대전광역시   1454228          6        1136378
6       울산광역시   1122566          7         882496
7     세종특별자치시    368276          8         262759
8         경기도  13549577          9       10835028
9         강원도   1537717         10        1240851
10       충청북도   1596948         11        1311624
11       충청남도   2118977         12        1731542
12       전라북도   1789770         13        1465954
13       전라남도   1834653         14        1525475
14       경상북도   2627925         15        2091760
15       경상남도   3318161         16        2623264
16    제주특별자치도    676569         17         531391

In [15]:
q=covid19_total.iloc[:,1]

In [16]:
q

0      9532428
1      3356311
2      2390721
3      2945009
4      1442454
5      1454228
6      1122566
7       368276
8     13549577
9      1537717
10     1596948
11     2118977
12     1789770
13     1834653
14     2627925
15     3318161
16      676569
Name: 총인구수 (명), dtype: int64

In [17]:
w=covid19_total.iloc[:,3]

In [18]:
covid19_total2=covid19_total.assign(prob=list(map(lambda x,y: x/y,covid19_total.iloc[:,3] ,covid19_total.iloc[:,1])))

In [19]:
covid19_total2.iloc[:,1:]

    총인구수 (명)  (index, )  (2차접종, 당일 누계)      prob
0    9532428          1        7723156  0.810198
1    3356311          2        2639817  0.786523
2    2390721          3        1835971  0.767957
3    2945009          4        2356312  0.800103
4    1442454          5        1148110  0.795942
5    1454228          6        1136378  0.781430
6    1122566          7         882496  0.786142
7     368276          8         262759  0.713484
8   13549577          9       10835028  0.799658
9    1537717         10        1240851  0.806944
10   1596948         11        1311624  0.821332
11   2118977         12        1731542  0.817159
12   1789770         13        1465954  0.819074
13   1834653         14        1525475  0.831479
14   2627925         15        2091760  0.795974
15   3318161         16        2623264  0.790578
16    676569         17         531391  0.785420

In [20]:
m = folium.Map([35.84195368311022, 127.1155556693179],zoom_start=6,scrollWheelZoom=False)
choro= folium.Choropleth(
    data=covid19_total2, 
    geo_data= global_dict, 
    color="prob",
    columns=['행정구역(시군구)별','prob'], 
    key_on='feature.properties.name'
)
choro.add_to(m) 
#m

___________